# Environments
.venv/
venv/

# IDEs
.vscode/

# Databases
inventory.db
test_*.db

# Assets
images/test/

# Settings
settings.json

# Python & Tools
__pycache__/
.pytest_cache/
.ruff_cache/
.DS_Store
Thumbs.db

# Scripts
seed_db.py
